header {
    display: inline-block;
    background-color: blue;
    height: 75px;


}

#navigator {
    background-color: aquamarine;
    float: right;
    width: 10%;
}


#fusser {
    background-color: gray;
    width: 200px;
}



#körper {
    background-image: url(HIV_Wamnian.png);
    background-size: 300px;
}

#grün {
    color: greenyellow;

}

#artikel {
    background-color: greenyellow;
    width: 500px;
}

#emote {
    background-color: olive;
    width: 300px;

}

#gehweg {
    background-color: yellow;
    float: right;
    width: 200px;
    float: right;
}

#gehweg1 {
    background-color: hotpink;
    float: right;
    width: 200px;
    float: right;
}

#damiens {
    margin: auto;
    background-color: violet;
}

#damianderschinken {
    background-color: dodgerblue;
    float: right;
    margin-top: 30px;
    min-height: 200px;
    max-width: 200px;
}