.title {
    color: blue;

}

.list-item {
    font-weight: bold;
}

.knöpfle1 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float: left;
}

.knöpfle2 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
}

.kommi {
    float: right;
}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}